USE [konfera]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[church](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_church] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[church] ON 

INSERT [dbo].[church] ([id], [name]) VALUES (1, N'Aš')
INSERT [dbo].[church] ([id], [name]) VALUES (2, N'Banská Bystrica')
INSERT [dbo].[church] ([id], [name]) VALUES (3, N'Banská Bystrica - CB')
SET IDENTITY_INSERT [dbo].[church] OFF
