USE [konfera]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import](
	[date] [datetime] NULL,
	[date2] [datetime] NULL,
	[account] [nvarchar](255) NULL,
	[bank] [nvarchar](255) NULL,
	[payer] [nvarchar](255) NULL,
	[amount] [float] NULL,
	[payment_id] [nvarchar](255) NULL,
	[vs] [int] NULL,
	[description] [nvarchar](255) NULL
) ON [PRIMARY]
GO
